{
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-typescript",
          {
            "targets": {
              "runtime": "automatic"
            }
          }
        ],
        "@babel/preset-env"
      ]
    }
  }
}